<?xml version="1.0"?>
<model>
  <name>mili_vtol</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>yjh103</name>
    <email>jwhx0103@naver.com</email>
  </author>

  <description>
    Octo‑VTOL (8 lift + 1 pusher) derived from PX4 standard_vtol.
  </description>
</model>
